In [36]:
import pandas as pd
import numpy as np

In [11]:
DF1=pd.DataFrame({'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3'],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3']})

In [12]:
DF2=pd.DataFrame({'A': ['A4','A5','A6','A7'],
 'B': ['B4','B5','B6','B7'],
 'C': ['C4','C5','C6','C7'],
 'D': ['D4','A5','A6','A7']})

PARA CONCATENAR ESTO SE HACE:

In [13]:
pd.concat([DF1,DF2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  A5
2  A6  B6  C6  A6
3  A7  B7  C7  A7

PARA COREGIR LOS INDICES TENEMOS

In [15]:
pd.concat([DF1,DF2],ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  A5
6  A6  B6  C6  A6
7  A7  B7  C7  A7

In [16]:
pd.concat([DF1,DF2],axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  A5
2  A2  B2  C2  D2  A6  B6  C6  A6
3  A3  B3  C3  D3  A7  B7  C7  A7

MERGE

In [17]:
izq = pd.DataFrame({'key' : ['k0','k1','k2','k3'],
 'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3'],
 })

In [18]:
der = pd.DataFrame({'key' : ['k0','k1','k2','k3'],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3'],
 })

In [20]:
izq.merge(der, on = 'key')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [21]:
izq = pd.DataFrame({'key' : ['k0','k1','k2','k3'],
 'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3'],
 })

der = pd.DataFrame({'key_2' : ['k0','k1','k2','k3'],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3'],
 })

In [22]:
izq.merge(der,left_on='key',right_on='key_2')

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2
3  k3  A3  B3    k3  C3  D3

Modifiquemos de nuevo las lista para ver que pasa si uno de los indices no coincide.

In [24]:
izq = pd.DataFrame({'key' : ['k0','k1','k2','k3'],
 'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3'],
 })

der = pd.DataFrame({'key_2' : ['k0','k1','k2',np.nan],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3'],
 })

In [26]:
der

  key_2   C   D
0    k0  C0  D0
1    k1  C1  D1
2    k2  C2  D2
3   NaN  C3  D3

como modificamos las llaves del segundo dataframe, al hacer el marge solo me trae las llaves que coinciden en ambos data frames.

In [25]:
izq.merge(der,left_on='key',right_on='key_2')

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2

Como hacemos para traer todo lo de la derecha o todo lo de la izquierda sin importan que coincida con el otro dataframe?

In [27]:
izq.merge(der,left_on='key',right_on='key_2',how='left')

  key   A   B key_2    C    D
0  k0  A0  B0    k0   C0   D0
1  k1  A1  B1    k1   C1   D1
2  k2  A2  B2    k2   C2   D2
3  k3  A3  B3   NaN  NaN  NaN

In [28]:
izq.merge(der,left_on='key',right_on='key_2',how='right')

   key    A    B key_2   C   D
0   k0   A0   B0    k0  C0  D0
1   k1   A1   B1    k1  C1  D1
2   k2   A2   B2    k2  C2  D2
3  NaN  NaN  NaN   NaN  C3  D3

JOIN - Index match

In [40]:
izq = pd.DataFrame({'A': ['A0','A1','A2'],
                    'B': ['B0','B1','B2',]},index=['k0','k1','k2'])

der = pd.DataFrame({'C': ['C0','C1','C2'],
                    'D': ['D0','D1','D2',]},index=['k0','k2','k3'])

In [41]:
izq.join(der)

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [42]:
izq.join(der,how='inner')

     A   B   C   D
k0  A0  B0  C0  D0
k2  A2  B2  C1  D1

In [43]:
izq.join(der,how='left')

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [44]:
izq.join(der,how='right')

      A    B   C   D
k0   A0   B0  C0  D0
k2   A2   B2  C1  D1
k3  NaN  NaN  C2  D2

In [45]:
izq.join(der,how='outer ')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2